.betsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
  }
  
  .balanceContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .betInput {
    width: 80px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .maxButton,
  .clearButton {
    padding: 5px 10px;
    margin-left: 5px;
  }
  
  .buttonsContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;

  }

  .betButton:disabled{
    color:white;
  }
 
  
  .betButton {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    align-items: center;
    background: #282c34;
    cursor: pointer;
    transition: 0.1s linear;;
    font-size: 26px;
  }
  
  
  .imageContainer {
    margin-bottom: 10px;
  }
  
  .winMultiplier {
    font-size: 14px;
    color: white;
  }
  
  .additionalButtons {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .betAdjustButton {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #282c34;
    color: white;
    cursor: pointer;
 
  }
  
  
  .betButton:hover{
    transform: translateY(-6px);
    
  }

  .betAdjustButton:hover {
    background: #61dafb;
  }
  
  .buttonsContainer{
    margin: 0 25px;
  }
  
  .betSceleton{
    margin-top: 15px;
    width: 15vw;
    height: 70px;
    border-radius: 10px;
    background: #282c34;
  }
  
  .betInfo{
    display: flex;
    padding: 0 15px 0 5px;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
    transition: .3s linear
  }

  .winMultiplier{
    font-family: var(--font-family);
    font-size: 28px;
    color: white;
    font-weight: 600;
    
  }