.betsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

.balanceContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.betInput {
  width: 80px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.maxButton,
.clearButton {
  padding: 5px 10px;
  margin-left: 5px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
  
}

.betButton:disabled{
  color:white;
}

.betButton:hover{
  transform: translateY(-6px);
  
}

.betButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #282c34;
  cursor: pointer;
  transition: 0.1s linear;;
  font-size: 26px;
}

.winMultiplier{
  font-family: var(--font-family);
  font-size: 28px;
  color: white;
  font-weight: 600;
  
}


.imageContainer {
  margin-bottom: 10px;
}


.additionalButtons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.betAdjustButton {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #282c34;
  color: white;
  cursor: pointer;
  margin: 5px;
  transition: background 0.3s;
}

.betAdjustButton:hover {
  background: #61dafb;
}


.betSceleton{
  margin-top: 15px;
  width: 30vw;
  height: 70px;
  padding: 10px;
  border-radius: 10px;
  background: #282c34;
}

.betInfo{
  display: flex;
  padding: 0 15px 0 5px;
  justify-content: space-between;
  font-size: 25px;

  transition: .3s linear
}