.chipsContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.chip {
  padding: 10px 20px;
  border: none;
  border-radius: 50%;
  background-color: #ffcc00;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chip:hover {
  background-color: #ffaa00;
}
