.logo {
  display: block;
  width: 370px;
  height: 70px;
  background: url('../../public/icons/capibara.png') no-repeat;
  background-size: contain;
  transition: all 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.logo:active {
  transform: scale(0.95);
}




.login{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(7, 231, 231);
}

.logout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
.login:hover,
.logout:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}
.login:hover .sign,
.logout:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
.login:hover .text,
.logout:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
.logout:active,
.login:active {
  transform: translate(2px ,2px);
}


.header{
  max-width: 1400px;
  margin: 0 auto;
  height: 70px;
  background: rgba(12, 20, 28, 0.88);
  backdrop-filter: blur(10px);
  top: 0px;
  left: 0px;
  z-index: 3;
  transition: width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  will-change: width;
  padding: 0px 80px 0px 70px;
  width: 100%;
}



.userInfo {
  display: flex;
  align-items: center;
  background-color: #1c1c1c;
  padding: 10px 20px;
  border-radius: 10px;
}

.telegram {
  margin-right: 20px;
}

.head{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.left_header{
  display: flex;
}


.right_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__list {
  list-style: none;

  display: flex;
  margin: 0;
  padding: 0;

}

.section__list li {
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  color: #6e6e8c;
  margin: 0 5px;
  cursor: pointer;
  transition: color 0.3s;
}

.section__list li:hover {
  color: #ccc;
}

.loginGuest:hover {
  background-color: #FFC025;
}

.balance{
  display: flex;
    align-items: center;
    background: rgb(19, 26, 34);

  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
}

.left_header a{
  margin:0 15px;
}

.right_header div{
  margin: 0 15px;
}

.game{
  transition: .1s linear;
}

.game:hover {
  transform: scale(1.15);
}

.game:active {
  transform: scale(0.95);
}

