.container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  background-color: rgb(39, 35, 38);
}

  
  .HiLo {
    width: 165px;
    height: 246px;
    display: flex;
    color:#000000;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../../public/icons/cards.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .HiLo.spinning {
    animation: spin 2s linear ;
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .NumBot{
    top: 0;
    left: 0;
    position: absolute;
    padding: 20px;
    font-size: 45px;
  }

  .NumTop{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    font-size: 45px;
  }

  .yellowText {
    color: #ffd000;
  }
  
  .blackText {
    color: black;
  }

  