.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  
  }
  
  .roulette {
    position: relative;
    width: 1200px;
    height: 100px;
    overflow: hidden;

  }

  .roulette::before,
  .roulette::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  z-index: 2;
}

.roulette::before {
  left: -20px;
  background: linear-gradient(90deg, rgb(10, 17, 33) 29.76%, rgba(10, 17, 25, 0) 100%)
}

.roulette::after {
  right: -20px;
  background: linear-gradient(-90deg, rgb(10, 17, 33) 29.76%, rgba(10, 17, 25, 0) 100%);
}
  
.wheel {
  width: 1200px;
  height: 100px;
  background-image: url('../../public/roullete/rouletka.png');
  background-repeat: repeat-x;
  position: relative;
  transition: background-position-x 7s cubic-bezier(0.25, 1, 0.5, 1);
}

.wheel::after {
  content: '';
  width: 5px;
  height: 100px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
  
  .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .betControls {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .betControls button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .betControls button:disabled {
    background-color: #777;
    cursor: not-allowed;
  }
  
  .wrapper{
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;;
    background:
    linear-gradient(rgb(10, 17, 25), rgba(10, 17, 25, 0.877)), 
    url('../../public/roullete/wallpaper.jpg');
    background-size:cover;
    height: 100vh;
  }