.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  }
  
  .roulette {
    position: relative;
    width: 1200px;
    height: 100px;
    overflow: hidden;

  }

  .roulette::before,
  .roulette::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  z-index: 2;
}

.roulette::before {
  left: -20px;
  background: linear-gradient(90deg, rgb(10, 17, 35) 29.76%, rgba(10, 17, 25, 0) 100%)
}

.roulette::after {
  right: -20px;
  background: linear-gradient(-90deg, rgb(10, 17, 35) 29.76%, rgba(10, 17, 25, 0) 100%);
}
  
.wheel {
  width: 1200px;
  height: 100px;
  background-image: url('../../public/roullete/rouletka.png');
  background-repeat: repeat-x;
  position: relative;
  transition: background-position-x 7s cubic-bezier(0.25, 1, 0.5, 1);
}

.wheel::after {
    content: '';
    rotate: 180deg;
    width: 130px;
    height: 130px;
    background-image: url('../../public/icons/palmalone.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    right: 0;
    top: 50px;
    bottom: 0;
    margin: auto;
    z-index: 1;
}
  
  .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .betControls {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .betControls button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .betControls button:disabled {
    background-color: #777;
    cursor: not-allowed;
  }
  
  