/* styles/Wheel.module.css */
.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}
  
.wheel {
    width: 500px;
    height: 500px;
    background-image: url('../../public/wheel/wheel.png');
    background-size: contain;
    position: relative;
    transition: 7s cubic-bezier(0.25, 1, 0.5, 1);
    background-repeat: no-repeat;
    overflow: hidden;
}

.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.wheelcontainer::after {
    content: '';
    width: 205px;
    height: 150px;
    background-image: url('../../public/icons/palm.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0;
    bottom: 545px;
    margin: auto;
    z-index: 1;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.betControls {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.betControls button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.betControls button:disabled {
    background-color: #777;
    cursor: not-allowed;
}

.wheelwithHistory{
    display: flex;
}